<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Servidores Backend, Rutas y Protocolo HTTP</title>
</head>
<body>
    <p>Ciudad</p>
    <div> Tamaño actual de edificaciones: <%= Tamaño %></div>
    <div>Edificaciones: <%= Edificaciones %></div>
    <h4>Lista de rutas</h4>
    <h5>get</h5>
    <ul>
        <li>'/' para la pagina principal</li>
        <li>http://localhost:8080/query/casas?id=2A&ventanas=6 </li>
    </ul>
</body>
</html>